@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Baloo Bhai 2", cursive !important;
  background-color: hsl(206, 21%, 94%);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: hsl(206, 21%, 94%);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(206, 21%, 94%);
}

p,
h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

#searchResult {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#SeeMore {
  visibility: hidden;
}

#ASeeMore {
  visibility: hidden;
}
